button {
  width: 8rem;
  border-radius: 1rem;
  border: none;
  height: 2rem;
  font-size: 0.9rem;
  cursor: pointer;

  &.validate {
    background: hsl(240, 75%, 58%);
    color: white;

    &:hover {
      color:  hsl(240, 75%, 58%);
      background: white;
      border: 1px solid grey;
    }
  }

  &.cancel {
    background: none;
    color: black;
    font-size: 1rem;

    &:hover {
      text-decoration: underline;
    }
  }

  &.danger {
    background: #e42b2b;
    color: white;

    &:hover {
      background: white;
      color: #e42b2b;
      border: 1px solid rgb(231, 138, 138);
    }
  }
}
