$navbar-font: nothing;
$navbar-background-color: #232a2a;
$navbar-font-color: #a19898;

:host {
  top: 0;
  position: absolute;
  left: 0;
  right: 0;
  height: 13%;
}

#navbar {
  overflow: hidden;
  background-color: $navbar-background-color;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 1rem 1rem 1rem 0;
  font-size: 2rem;
  border-bottom: 1px solid white;
  height: 7%;

  fa-icon {
    color: #4594c6;
    font-size: 1em;
    cursor: pointer;
    display: inline-block;
    padding: 0 0.5em;

    &.clicked {
      transform: none;
      transition: 0.4s ease-in;

      &-true {
        transform: rotate(90deg);
        color: pink;
      }
    }
  }

  #logo {
    font-weight: bold;
  }

  a {
    color: $navbar-font-color;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: $navbar-font;
  }
}

.scrolledNav {
  padding: 0.5rem !important;
  font-size: 1.5rem !important;
}
