@import '../../shared/scss/variables';

:host {
  height: 12%;
  display: block;
}

#navbar {
  overflow: hidden;
  background-color: $navbar-background-color;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 1rem 1rem 1rem 1rem;
  font-size: 2rem;
  border-bottom: 1px solid white;

  #logo {
    font-weight: bold;
    transition: 0.4s;
  }

  a {
    color: $navbar-font-color;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: $navbar-font;
  }
}

.scrolledNav {
  padding: 0.5rem !important;
  font-size: 1.5rem !important;
}
