//buttons backgrounds map
$buttons-backgrounds : (
  validate: (
    background: black,
    color: white
  ),
  cancel: (
    background: white,
    color: black
  )
);

@function setValue($subMap, $prop) {
  @return map-get(map-get($buttons-backgrounds, $subMap), $prop);
}

// Create custom classes : for example, '.button-validate-background'
@each $status in map-keys($buttons-backgrounds) {
  .button-#{$status}-background {
    background: setValue($status, background);
    color: setValue($status, color);
  }
}
