<div class="header">
  <div class="activityName">{{dashboard.activityName}}</div>
</div>

<div class="dashboard-detail">
  <div>Creation date : {{dashboard.creationDate}}</div>
  <div>Dashboard creator : {{dashboard.dashboardCreator.firstName}} {{dashboard.dashboardCreator.lastName}}</div>
  <div>
    <div>People who participate to the activity:</div>
    <div *ngFor='let person of dashboard.people'>
      {{person.firstName}} {{person.lastName}}
    </div>
  </div>
  <div class="manage-button-div">
    <button class="validate">Manage</button>
  </div>
</div>

