$navbar-background-color: #232a2a;
$navbar-font-color: #a19898;
$link-color: white;

// fonts
$navbar-font: nothing;
$body-font-thin: lato-thin;
$body-font-regular: lato-regular;
$body-font-bold: lato-bold;
