$link-color: white;
$link-hover-color:  rgba(26, 22, 22, 0.747);
$body-font-thin: lato-thin;
$body-font-regular: lato-regular;
$body-font-bold: lato-bold;

:host {
  height: 100%;
}

.text-wrapper {
  width: 50%;
  height: 50%;
  margin: 5rem auto;
  text-align: center;
}

@keyframes movingLetters {
  0% {
    bottom: -0.2em;
    opacity: 1;
    color: #3E5C76;
  }

  30% {

      color: #c45999;
  }

  60% {
    bottom: 0.2em;
    color: rgb(240, 163, 21);
  }

  100% {
      bottom: 0;
      opacity: 1;
      color: black;
  }
}

h1 {
  height: 25%;
  margin: 0 auto;
  font-family: lato-bold;
  color: black;
  bottom: -1em;
  }

  h1 span span {
    position: relative;
  }

  span span {
    animation: movingLetters 0.75s;
  }

  @for $i from 1 through 22 {
    span span:nth-child(#{$i}) { animation-delay: 0.2s +$i/10; }
  }

  .desc-div {
    padding: 2rem 0 4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    width: 70%;
    margin: auto;
    font-family: $body-font-thin;
  }

  a {
    font-family: $body-font-regular;
    text-decoration: none;
    position: relative;
    font-size: 1.2rem;
    color: $link-color;
    transition: 0.5s ease-out;
    margin: auto;

    &:visited {
      color: $link-color;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      height: 0.25rem;
      width: 100%;
      bottom: -0.35rem;
      background: $link-color;
      transition: 0.5s ease-in;
      right: 0;
      left: 0;
    }

    &:hover {
      font-size: 1.3rem;
      color: $link-hover-color;
      transition: 0.5s ease-in;
      width: 100%;
    }

    &:hover::after {
      transition: 0.5s ease-in;
      margin: auto;
      width: 0%;
      background: $link-hover-color;
    }
  }
