@import '../../shared/scss/themes/buttons.themes';

:host {
  height: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 12s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.text-wrapper {
  width: 50%;
  height: 50%;
  margin: 5rem auto;
  text-align: center;

  h1 {
    height: 25%;
    margin: 0;
    font-family: $body-font-bold;
  }

  .desc-div {
    padding: 2rem 0 4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    width: 70%;
    margin: auto;
    font-family: $body-font-thin;
  }

  a {
    font-family: $body-font-regular;
    text-decoration: none;
    position: relative;
    font-size: 1.2rem;
    color: $link-color;
    transition: 0.5s ease-out;
    margin: auto;

    &:visited {
      color: $link-color;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      height: 0.25rem;
      width: 100%;
      bottom: -0.35rem;
      background: $link-color;
      transition: 0.5s ease-in;
      right: 0;
      left: 0;
    }

    &:hover {
      font-size: 1.3rem;
      color: $link-hover-color;
      transition: 0.5s ease-in;
      width: 100%;
    }

    &:hover::after {
      transition: 0.5s ease-in;
      margin: auto;
      width: 0%;
      background: $link-hover-color;
    }
  }
}
