  <div class="title">Create a dashboard</div>

  <form [formGroup]='addPeopleForm'>
    <div>
      <input placeholder='Activity name' formControlName="activityName"/>
      <div class="input-error" *ngIf="addPeopleForm.get('activityName').hasError('required') && addPeopleForm.get('activityName').dirty">Activity name is required</div>
    </div>
    <div *ngFor='let input of inputs; index as i'>
      <input [placeholder]='getPlaceholder(i+1)' [formControlName]='getPersonFormControlName(i+1)'/>
      <div class="input-error" *ngIf="addPeopleForm.get(getPersonFormControlName(i+1)).hasError('required') && addPeopleForm.get(getPersonFormControlName(i+1)).dirty">Person name is required</div>
    </div>
  </form>

  <div class="add-person" (click)='addInputToForm()'>
    <fa-icon [icon]='faUserPlus'></fa-icon>
  </div>

  <div class="easy-button-div">
    <button routerLink='/' class="cancel">Cancel</button>
    <button class="validate" [disabled]='addPeopleForm.invalid' (click)='createNewDashboard(addPeopleForm.value)'>Let's Go !</button>
  </div>
