@import '../../../shared/scss/themes/buttons.themes';

:host {
  height: 100%;
  display: flex;
  width: 50%;
  justify-content: center;
}

.dashboards-wraper {
  height: 95%;
  width: 95%;
  background: #f5f5f573;
  display: flex;
  flex-direction: column;
}

.to-delete-wraper {
  width: 90%;
  margin: auto;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;

  .button-to-delete {
    flex: 0.8;
  }

  .dashboards-selected-text {

  }
}

.table-wraper {
  height: 90%;
  overflow-y: auto;
  margin: 1em auto;
  width: 90%;
  display: flex;
  justify-content: center;
}

.table {
  border-collapse: collapse;
  width: 100%;

  .header-wraper {
    display: flex;
    background: #bd6797;
    color: white;
    height: 2rem;
    align-items: center;

    .header {
      flex: 1;
      justify-content: center;
      display: flex;
    }
  }
}
