<div class="dashboards-wraper">
  <div class="table-wraper">
    <easy-loading *ngIf='isLoading'></easy-loading>
    <div class="table">
      <div class="header-wraper">
        <div class="header">Activity Name</div>
        <div class="header">People total</div>
        <div class="header">Creation date</div>
      </div>
      <easy-row *ngFor='let dashboard of dashboards; index as i' [dashboard]='dashboard' [rowIndex]='i' [hideBackgroundSelectedRows]='hideBackgroundOfSelectedRow' (click)='openDetailComponent(dashboard.activityName); setRowIndex(i); hideBackgroundOfSelectedRows()'>
      </easy-row>
    </div>
  </div>
</div>
