:host {
  height: 100%;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.dashboards-wraper {
  height: 90%;
  width: 95%;
  background: #f5f5f573;
}

table {
  border-collapse: collapse;
  margin: 3em auto;
  width: 80%;

  th {
    background: #e11688;
    color: white;
  }

  tr {
    border-bottom: 1px solid grey;

    &:nth-child(odd) {
      background: #e8e3df;
    }

    &:nth-child(even) {
      background: #ddebec;
    }
  }

  td {
    text-align: center;
  }
}
