:host {
  height: 100%;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.dashboards-wraper {
  height: 90%;
  border: 1px solid;
  width: 95%;
  background: whitesmoke;
}
