@import '../../../shared/scss/themes/buttons.themes';
@import '../../../shared/scss/input.partial.scss';

:host {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #373333;
}

.sign-in-layout {
  width: 40%;
  height: auto;
  background: #f8f5f5;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  .sign-in-title {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    width: auto;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 0 0;

    .form-field {
      margin-bottom: 3rem;
      width: 100%;
    }
  }
}
