:host {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  font-family: lato-regular;
}

.components-wrapper {
  display: flex;
  flex-direction: column;
  height: 88%;
  background: radial-gradient(#ee7752, #e73c7e, #455eea, #23d5ab);
  background-size: 350% 350%;
}
