@import '../../shared/scss/themes/buttons.themes';

button {
  border: none;
  width: 5rem;
  height: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: 0.4s ease-in;

  @each $key in map-keys($buttons-backgrounds) {
    &.button-#{$key}-background {
      background: setValue($buttons-backgrounds, $key, 'background');
      color: setValue($buttons-backgrounds, $key, 'color');
    }
  }

  &:hover{
    opacity: 0.6;
  }
}
