.balances-wraper {

  .balance-row {
    background: #f7fbfee3;
    border-bottom: 1px solid #e3c214;
    padding: 0.5rem;
    display: flex;

    .balance-name-wraper {
      display: flex;
      flex: 1;
      align-items: center;

      .person-name-div {
        flex: 0.5;

        &-positive {
          text-align: right;
          padding-right: 0.35rem;
        }

        &-negative {
          text-align: left;
          padding-left: 0.35rem;
        }
      }

      .balance-wraper {
        flex: 0.5;

        &-negative {
          display: flex;
          justify-content: right;
        }
      }
    }

    .balance {
      height: 2rem;
      border-radius: 5px;
      display: flex;
      align-items: center;

      &-debt {
        background: #ec3b3b;
        justify-content: right;
        padding-right: 0.5rem;
      }

      &-positive {
        background: #6dd16d;
        padding-left: 0.2rem;
      }
    }
  }
}

@for $i from 1 through 100 {
  .width_#{$i} {
    width: $i *1%;
  }
}
